{% extends '@admin/default_frame.twig' %}

{% set menus = ['customer', 'customer_rank'] %}
{% block title %}会員ランク管理{% endblock %}
{% block sub_title %}一覧{% endblock %}

{% block main %}

<div class="c-contentsArea__cols">
  <div class="c-contentsArea__primaryCol">
    <div class="c-primaryCol">
      <div class="card rounded border-0 mb-4 d-block">
        <div class="card-body p-0">
          <a href="{{ url('admin_customer_rank_new') }}" class="btn btn-primary mb-3">新規登録</a>
          <table class="table">
            <thead>
              <tr><th>表示順</th><th>名称</th><th>割引率</th><th>操作</th></tr>
            </thead>
            <tbody>
              {% for rank in ranks %}
                <tr>
                  <td>{{ rank.sortNo }}</td>
                  <td>{{ rank.name }}</td>
                  <td>{{ rank.discountRate * 100 }}%</td>
                  <td>
                    <a href="{{ url('admin_customer_rank_edit', {id: rank.id}) }}" class="btn btn-sm btn-outline-primary">編集</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
